header {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: 
		"header-links" 
		"header-description" 
		"header-down";
	height: 100vh;

	background-image: url("/img/banner.jpg");
	background-size: cover;
	background-attachment: fixed;
	
	color: white;
}

.header-links {
	background-color: transparent;
}

.header-link {
	padding: 1em;
}

@media (max-width: 500px) {
	header .header-links {
		flex-direction: column;
	}
}

header .header-description {
	grid-area: header-description;
	justify-self: center;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

header .header-description > * {
	margin: 0.3em 0;
}

.header-down {
	grid-area: header-down;
	justify-self: center;

	padding: 2em;

	color: inherit;
	text-decoration: inherit;
}

#main {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#infos {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	text-align: justify;
}

#infos > div {
	margin: 1em;
}

#projects {
	background-color: lightgrey;
}

