header {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas: 
		"header-links" 
		"header-description" 
		"header-down";
	height: 100vh;

	background-image: url("/img/index-header-background.jpg");
	background-size: cover;
	background-attachment: fixed;
	
	color: white;
}

.header-links {
	background-color: transparent;
}

.header-link {
	padding: 1em;
}

@media (max-width: 500px) {
	header .header-links {
		flex-direction: column;
	}
}

header .header-description {
	grid-area: header-description;
	justify-self: center;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

header .header-description > * {
	margin: 0.3em 0;
}

.header-down {
	grid-area: header-down;
	justify-self: center;

	padding: 2em;

	color: inherit;
	text-decoration: inherit;
}

#main {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.main-section {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 2em 5%;
}

#main > section > h1 {
	text-align: center;
}

#infos {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	text-align: justify;
}

#infos > div {
	margin: 1em;
}

#projects {
	background-color: lightgrey;
}

.project {
	background-color: white;
	box-shadow: 3px 3px 10px rgb(146, 146, 146);

	border-radius: 10px;
	width: 12em;
	margin: 2em;
}

.project-list {
	display: flex;
	justify-content: center;

	flex-wrap: wrap;
}

@media (max-width: 500px) {
	.project-list {
		flex-direction: column;
		align-items: center;
	}
}

.project-image {
	width: 100%;
	height: 8em;
	box-shadow: inset 5px 5px 5px red;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}

.project-description {
	padding: 1em;
}

.project-title {
	margin-top: 0;
	margin-bottom: 0;
}

.project-title a {
	text-decoration: inherit;
	color: inherit;
}

.project-summary {
	margin-top: .5em;
	color: rgb(44, 44, 44);
}