---
layout: base
ref: index
---

<meta property="og:title" content="Colabois">

<header class="header">
    <div class="header-links">
        {% include header_links.html %}
    </div>
    <div class="header-description">
        <h1>Colabois</h1>
    </div>
    <a href="#infos" class="header-down"><span class="material-icons">expand_more</span></a>
</header>
<main class="main">
    <section id="infos" class="main-section">
        <div id="who-are-we">
            {% tf index/who_are_we.md %}
        </div>
        <div>
            {% tf index/what_do_we_do.md %}
        </div>
    </section>
    <section id="projects" class="main-section">
        <h1 class="main-section-title">{% t index.our_projects %}</h1>
        <div class="project-list-wrapper-wrapper">
            <div class="project-list-wrapper">
                <div class="project-list">
                    {% for project in site.data.projects %}
                        <div class="project">
                            {% if project["imgpath"] %}
                                <img src="{{ project["imgpath"] | liquify }}" class="project-image">
                            {% endif %}
                            <div class="project-desc">
                                <h1 class="project-desc-title"><a href="{{ project["link"] }}" target="_blank">{{ project["name"] }}</a></h1>
                                <p class="project-desc-summary">{{ project["desc"] }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</main>
{% include footer.html %}

<link rel="stylesheet" href="{{ site.baseurl_root }}/assets/css/index.css">
