---
layout: default
ref: posts
---

<link rel="stylesheet" href="/assets/css/posts_list.css">

<div class="posts-list">
    {% if site.posts.size != 0 %}
        {% for post in site.posts %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="no-color">
                <div class="posts-list-item">
                    {% if post.cover %}
                        <img src="{{ post.cover }}" alt="post-cover" class="posts-list-item-cover">
                    {% endif %}
                    <div class="posts-list-item-desc">
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.author }} - {{ page.date | date: "%A %d %B %Y"}}</p>
                        <p>{{ post.excerpt }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <p>{% t posts.no_posts %}</p>
    {% endif %}
</div>
