---
layout: default
ref: team
---

<main>
    <section>
        {% capture team_presentation %}{% t team_presentation %}{% endcapture %}
        {{ team_presentation | markdownify }}
        <ul class="list">
            <li>
                {% include author.html author="victorb" %}
            </li>
            <li>
                {% include author.html author="suwako" %}
            </li>
            <li>
                {% include author.html author="dean" %}
            </li>
            <li>
                {% include author.html author="moi2985" %}
            </li>
            <li>
                {% include author.html author="busybox" %}
            </li>
        </ul>
    </section>
</main>
