---
layout: default
ref: team
---

<main>
    <section>
        {% capture team_presentation %}{% t team_presentation %}{% endcapture %}
        {{ team_presentation | markdownify }}
        <div class="list">
            {% include author.html author="victorb" %}
            {% include author.html author="suwako" %}
            {% include author.html author="dean" %}
            {% include author.html author="moi2985" %}
            {% include author.html author="busybox" %}
        </div>
    </section>
</main>
