main {
	display: flex;
	flex-direction: column;
}

#infos {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	text-align: justify;

	@media (max-width: 40em) {
		grid-template-columns: repeat(1, 1fr);
	}

	> div {
		margin: 1em;
	}
}

.project-list {
	display: flex;
	overflow-x: auto;

	.project {
		flex-shrink: 0;
	}
}
