{% assign author = site.data.authors[include.author] %}

<div class="author">
    {% if author.avatar %}
        <img class="author__avatar" src="{{ site.baseurl_root }}/assets/img/avatars/{{ author.avatar }}" alt="{{ author.name }}'s avatar">
    {% endif %}
    <div class="author__infos">
        {% capture description %}{% t author_descriptions.{{ include.author }} %}{% endcapture %}
        <p><strong>{{ author.name }}</strong></p>
        <p>{% if description != empty %}{{ description }}{% else %}<span class="text-grey">{% t no_description %}</span>{% endif %}</p>
    </div>
</div>
