{% assign post = include.post %}

<a href="{{ site.baseurl }}{{ post.url }}" class="reset-color">
    <div class="posts-list__item">
        {% if post.cover %}
            <img src="{{ post.cover }}" alt="post-cover" class="posts-list__item__cover">
        {% endif %}
        <div class="posts-list__item__desc">
            <h2 class="posts-list__item__desc__title">{{ post.title }}</h2>
            <p class="posts-list__item__desc__excerpt">{{ post.excerpt | strip_html }}</p>
            <p class="posts-list__item__desc__infos text-grey">{{ site.data.authors[post.author].name }} - {% t dates.days.{{ page.date | date: "%A"}} %} {{ page.date | date: "%d" }} {% t dates.months.{{ page.date | date: "%B"}} %} {{ page.date | date: "%Y" }}</p>
        </div>
    </div>
</a>
