.author {
    display: flex;
    align-items: flex-start;

    &__avatar {
        width: 10ch;
        height: auto;
        border-radius: 100%;
        margin: 0 2em;
    }

    &__infos {
        > * {
            margin-top: 0;
        }
    }
}
