.author {
    display: flex;
    align-items: flex-start;

    padding: 1em 0;

    &__avatar {
        width: 10ch;
        height: auto;
        border-radius: 100%;
        margin: 0 2em;
    }

    &__infos {
        > * {
            margin: 0;
        }
    }
}
