:root {
    --clr-accent: #{$accent};

    /* dark theme */
    --clr-dark-fg: #dadada;
    --clr-dark-fg-secondary: rgb(124, 124, 124);
    --clr-dark-bg: rgb(48, 48, 48);
    --clr-dark-bg-secondary: rgb(29, 29, 29);

    /* light theme */
    --clr-light-fg: black;
    --clr-light-fg-secondary: rgb(216, 216, 216);
    --clr-light-bg: white;
    --clr-ligt-bg-secondary: white;

    /* light theme enabled */
    --clr-fg: var(--clr-light-fg);
    --clr-fg-secondary: var(--clr-light-fg-secondary);
    --clr-bg: var(--clr-light-bg);
    --clr-bg-secondary: var(--clr-light-bg-secondary);

    /* dark theme enabled */
    @media (prefers-color-scheme: dark) {
        --clr-fg: var(--clr-dark-fg);
        --clr-fg-secondary: var(--clr-dark-fg-secondary);
        --clr-bg: var(--clr-dark-bg);
        --clr-bg-secondary: var(--clr-dark-bg-secondary);
    }
}
