.footer {
    background-color: rgb(36, 36, 36);
    color: white;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em 5%;

    &-section {
        display: flex;
        flex-direction: column;
        margin: 0 2em;
    }
}
