.header {
	display: flex;
	align-items: stretch;
	font-size: 1.25em;

	&-link {
		padding: .5em;
		display: flex;

		@media (max-width: 500px) {
			flex-direction: column;
		}
	}

	&-links {
		display: flex;

		&-separator {
			flex-grow: 1;
		}
	}
}
