.header {
    display: flex;
    align-items: stretch;
    font-size: 1.25em;
    
    color: white;
    background-color: #5c2a03;
    background-size: cover;
    background-attachment: fixed;

    &-link {
        padding: .75em;

        text-align: center;

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    &-links {
        display: flex;

        @media (max-width: 500px) {
            flex-direction: column;
        }

        &-separator {
            flex-grow: 1;
        }
    }
}
