header {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100vh;

	text-align: center;

	background-color: transparent !important;
	background-image: url("/img/banner.jpg");
	background-size: cover;
	background-attachment: fixed;
	color: white;

	.links {
		a {
			padding: 1em !important;
		}
	}

	@media (max-width: 500px) {
		.links {
			flex-direction: column;
		}
	}

	.description {
		flex-grow: 1;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	
		> * {
			margin: 0.3em 0;
		}
	}

	.down {
		padding: 2em;
		color: inherit;
		text-decoration: inherit;
	}
}

main {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#infos {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: start;

	text-align: justify;

	@media (max-width: 40em) {
		grid-template-columns: 1fr;
	}

	> div {
		margin: 1em;
	}
}

#projects {
	background-color: lightgrey;
}
