.main {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    &__section {
        flex-grow: 1;
        
        display: flex;
        flex-direction: column;
        padding: 2em 5%;

        background-color: white;
    
        &__title {
            text-align: center;
        }
    }

    h1, h2, h3, h4, h5, h6, a {
        color: $accent;
    }

    .no-color {
        color: inherit;
    }
}
