@media (min-width: 100ch) {
    .body {
        background-color: rgb(230, 230, 230);
    }

    .post__article {
        max-width: calc(100ch + 8em);

        border-radius: 15px;

        background-color: white;

        box-shadow: 0 0 100px rgb(194, 194, 194);
    }
}

.post {
    align-self: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    &__article {
        &-title {
            margin-top: 0;
        }
        
        &-infos {
            color: rgb(116, 116, 116);
        }
    
        img {
            max-width: 100%;
        }
    }

    &__author {
        position: sticky;
        top: 2em;
    }
}
