@media (min-width: 100ch) {
    .body {
        background-color: rgb(230, 230, 230);
    }

    .post {
        padding: clamp(0px, 10%, 4em);
        margin: 2em 0;
        max-width: calc(90ch + 4em);

        border-radius: 15px;

        background-color: white;

        box-shadow: 0 0 100px rgb(194, 194, 194);
    }
}

.post {
    align-self: center;

    &-title {
        margin-top: 0;
    }
    
    &-infos {
        color: rgb(116, 116, 116);
    }

    img {
        max-width: 100%;
    }
}
