.posts-list {
    display: flex;
    flex-direction: column;

    a {
        color: black;
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 1em;
        border-bottom: solid 1px grey;

        &:last-of-type {
            border-bottom: none;
        }

        &__desc {
            > *{
                margin: .25em 0;
            }

            &__excerpt {
                color: grey;
            }
        }

        &__cover {
            height: 4em;
            width: 4em;
            object-fit: cover;
            border-radius: 5px;
            margin-right: 2em;
        }
    }
}
