$responsive-width: 40em;

/* variables */

:root {
    --clr-accent: $accent;

    /* dark theme */
    --clr-dark-fg: #dadada;
    --clr-dark-fg-secondary: rgb(211, 211, 211);
    --clr-dark-bg: rgb(48, 48, 48);
    --clr-dark-bg-secondary: rgb(29, 29, 29);

    /* light theme */
    --clr-light-fg: black;
    --clr-light-fg-secondary: rgb(216, 216, 216);
    --clr-light-bg: white;
    --clr-ligt-bg-secondary: white;

    /* light theme enabled */
    --clr-fg: var(--clr-light-fg);
    --clr-fg-secondary: var(--clr-light-fg-secondary);
    --clr-bg: var(--clr-light-bg);
    --clr-bg-secondary: var(--clr-light-bg-secondary);

    /* dark theme enabled */
    @media (prefers-color-scheme: dark) {
        --clr-fg: var(--clr-dark-fg);
        --clr-fg-secondary: var(--clr-dark-fg-secondary);
        --clr-bg: var(--clr-dark-bg);
        --clr-bg-secondary: var(--clr-dark-bg-secondary);
    }
}



* {
    box-sizing: border-box;
}

/* elements */

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Cantarell", "Segoe UI", sans-serif;
    font-size: 1.1rem;
    min-height: 100vh;

    background-color: var(--clr-bg);
    color: var(--clr-fg);
    
    > main {
        flex-grow: 1;
    }
}

main {
    h1, h2, h3, h4, h5, h6 {
        color: var(--clr-accent);

        &:first-child {
            margin-top: 0;
        }
    }

    a {
        color: var(--clr-accent);
    }
}

section {
    padding: 3rem 3%;
}

a {
    color: inherit;
    text-decoration: inherit;
}

img {
    max-width: 100%;
}

hr {
    border: solid 1px rgba(134, 134, 134, 0.363);
}
