.header {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 100vh;

	&-link {
		padding: 1em !important;
	}

	&-description {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&-down {
		padding: 2em;
	}
}