html {
    scroll-behavior: smooth;
}

body {
    font-family: "Segoe UI", sans-serif;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.main a {
    color: royalblue;
}

table, td, th {
    padding: .5em;
    border: solid 1px rgb(206, 206, 206);
    border-collapse: collapse;
}

div.highlight {
    padding: 1em;
    border-radius: 5px;
    
    pre.highlight {
        margin: 0;
    }
}
