.header {
    height: 100vh;

    &__links {
        box-shadow: 0 -5px 10 rgb(39, 39, 39);
    }

    &__description {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__down {
        padding: 2em;
        font-size: 1.5em;
    }
}
