#drawer-toggler {
    display: none;
}

.header {

    display: flex;
    flex-direction: column;

    font-size: 1.25rem;

    /* children */

    &__drawer-toggler {
        display: none;
    }

    &__link {
        padding: .75em;

        &:hover,
        &:focus {
            outline: none;
            background-color: rgba(0, 0, 0, 0.281);
        }
    }

    &__desc {
        padding: 2em 0;
    }

    &__down {
        font-size: 1.5rem;
        padding: 1.5em;
    }

    /* modifiers */

    &--full-height {
        height: 100vh;
    }

    /* mobile devices */
    @media (max-width: $responsive-width) {
        &--full-height {
            height: auto;
        }

        &__desc {
            display: none;
        }

        &__down {
            display: none;
        }
    }
}

@media (max-width: $responsive-width) {
    .header {
        position: sticky;
        top: 0;

        &__drawer-toggler {
            display: block;
        }
    
        &__nav {
            &__links {
                display: none;
                flex-direction: column;
            }
        }

        #drawer-toggler:checked ~ &__nav__links {
            display: flex;
        }
    }
}
