.list {
    display: flex;
    flex-direction: column;

    /* remove default ul padding */
    padding-left: 0;

    > * {
        border-bottom: solid 1px var(--clr-fg-secondary);
        padding: 1rem 0;

        > * {
            padding: 0;
        }

        &::marker {
            content: '';
        }


        &:last-child {
            border-bottom: inherit;
        }
    }
}
