---
---

<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.collection == "posts" %}{{ page.title }}{% else %}{% t titles.{{ page.ref }} %}{% endif %} | Colabois</title>
    {% seo title=false %}
</head>
<body class="body">
    {{ content }}
    {% include footer.html %}
    <link rel="stylesheet" href="{{ site.baseurl_root }}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl_root }}/assets/css/style.css">
    <link href="{{ site.baseurl_root }}/assets/css/material-icons.css" rel="stylesheet">
    {% if page.mathjax %}
        <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {% endif %}
</body>
</html>
