---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% t {{ page.ref }}.title %} | Colabois</title>
</head>
<body>
    {{ content }}
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="/assets/css/material-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/highlight.css">
    {% if page.mathjax %}
        <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {% endif %}
</body>
</html>
