---
layout: base
---

{% assign t = site.data.translations[page.lang] %}
{% assign s = page.strings %}

<link rel="stylesheet" href="/css/index.css">
<header>
	<div class="header-links">
		<a href="/" class="header-link">Colabois</a>
		<span class="header-links-separator"></span>
		<a href="/#projects" class="header-link">{{ t["projects"] }}</a>
		<a href="/#support-us" class="header-link">{{ t["support-us"] }}</a>
	</div>
	<div class="header-description">
		<h1>Colabois</h1>
		<p>Comment on l'appelle ? Bah organisation illégitime sûrement !</p>
	</div>
	<a href="#infos" class="header-down"><span class="material-icons">expand_more</span></a>
</header>
<section id="infos" class="main-section">
	<div id="who-are-we">
		<h1>{{ s["title-who-are-we"] }}</h1>
		<p>{{ s["desc-who-are-we"] }}</p>
	</div>
	<div id="what-do-we-do">
		<h1>{{ s["title-what-do-we-do"] }}</h1>
		<p>{{ s["desc-what-do-we-do"] }}</p>
	</div>
</section>
<section id="projects" class="main-section">
	<h1>{{ t["title-our-projects"] }}</h1>
	<div class="project-list">
		{% for project in site.data.projects %}
			<div class="project">
				<img src="{{ project["imgpath"] }}" class="project-image">
				<div class="project-description">
					<h1 class="project-title"><a href="{{ project["link"] }}" target="_blank">{{ project["name"] }}</a></h1>
					<p class="project-summary">{{ project["desc"] }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
</section>
<section id="support-us" class="main-section">
	<h1>{{ s["title-support-us"] }}</h1>
	<p>{{ s["desc-support-us"] }}</p>
</section>
<footer class="main-section footer">
	<div class="footer-section">
		<h1 class="footer-section-title">{{ t["in-other-languages"] }}</h1>
		{% for language in site.data.languages %}
			<a href="{{ language.link }}" class="footer-link">{{ language.name }}</a>
		{% endfor %}
	</div>
</footer>