---
layout: default
---

{% assign author = site.data.authors[page.author] %}
{% assign translation_author = site.data.authors[page.translation_author] %}

<meta property="og:title" content="{{ page.title }} - Colabois">
<meta property="og:description" content="{{ page.excerpt }}">
{% if page.cover %}
    <meta property="og:image" content="{{ page.cover | prepend: site.baseurl_root }}">
{% endif %}

<main>
    <div class="center bg-light">
        <article class="post block max-readable-width">
            {% if page.cover %}
                <img src="{{ page.cover | prepend: site.baseurl_root }}" class="post__article__cover">
            {% endif %}
            <h1>{{ page.title }}</h1>
            <p class="text-grey">{% t dates.days.{{ page.date | date: "%A"}} %} {{ page.date | date: "%d" }} {% t dates.months.{{ page.date | date: "%B"}} %} {{ page.date | date: "%Y" }}</p>
            {{ content }}
            <hr>
            <h2>{% t written_by %}</h2>
            {% include author.html author=page.author %}
            {% if page.translation_author %}
                <hr>
                <h2>{% t translated_by %}</h2>
                {% include author.html author=page.translation_author %}
            {% endif %}
        </article>
    </div>
</main>
