---
layout: default
---

<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.excerpt }}">

<article class="post">
    {% if page.cover %}
        <img src="{{ page.cover | prepend: site.baseurl_root }}" class="post-cover">
    {% endif %}
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-infos">{{ page.author }} - {% t dates.days.{{ page.date | date: "%A"}} %} {{ page.date | date: "%d" }} {% t dates.months.{{ page.date | date: "%B"}} %} {{ page.date | date: "%Y" }}</p>
    {{ content }}
</article>

<link rel="stylesheet" href="{{ site.baseurl_root }}/assets/css/post.css">
