---
layout: base
---

<header class="header header--full-height bg-accent ">
    {% include header.html %}
    <div class="header__desc flex-grow center text-center">
        <h1>{% t header_titles.{{ page.ref }} %}</h1>
        {% capture description %}{% t header_descriptions.{{ page.ref }} %}{% endcapture %}
        {% if description != empty %}
            <p>{% t header_descriptions.{{ page.ref }} %}</p>
        {% endif %}
    </div>
    <a href="#main" class="header__down text-center"><span class="material-icons">expand_more</span></a>
</header>
<main id="main" class="main">
    {{ content }}
</main>
